{
    "trailingComma": "none",
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yml", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
